{%load static%}
<!DOCTYPE html>
<html>

<head>
  <title> SignUp </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{% static 'assets/css/bootstarp.css' %}" rel="stylesheet">

  <!-- //web font -->
</head>

<body>
  <!-- main -->
  <div class="main-w3layouts wrapper" style="background-color: aliceblue;" >
    <!-- <h1 style="color: #192732">Signup Form</h1> -->
    <h4 style="color:red">
      <center>{{msg}}</center>
    </h4>
    <div class="main-agileinfo" style="background: #192732">
      <div class="agileits-top">
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">

          {% csrf_token %}

          <div class="mx-auto max-w-xs md-12">
            <label class="control-label col-sm-3">
              <p class="text-white">Select Role<span class="text-danger">*</span></p>
            </label>
          <center>
             <select class="form" name="role" required>
              <option disabled> Select user </option>
              <option required>Doctor</option>
              <option>Patient</option>
            </select>
          </center>
          </div><br>

          <input class="text" type="text" name="name" placeholder="Name" required>
          <input class="text mt-2" type="email" name="email" placeholder="Email" required>
          <input class="text mt-3" type="password" name="password" placeholder="Password" required>
          <input class="text w3lpass mt-4" type="password" name="cpassword" placeholder="Confirm Password" required>
         <label for="formFile" class=" text-white">Your profile pic</label>
          <input class="form-control form-control-sm" type="file" name="pic" required>


          <input class="btn btn-dark" type="submit"  value="SIGNUP" style="background-color: #192732;">
        </form>
        <p> Already have an Account? <a href="/login"> Login Now!</a></p>
      </div>
    </div>
  </div>
</body>

</html>
